/* HAWHAW skin stylesheet for the hawhaw phone */

body {
  background-color: #FFFFFF;
  text-align: center;
  margin: 1px;
  padding: 1px;
  color: 000033;
  font-size:11pt;
  font-weight: bold;
}

#skin {
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  width: 280px;
  height: 466px;
  background-image: url(hawhaw_phone_dc.png);
}

#display {
  position: relative;
  top: 151px;
  left: 43px;
  width: 191px;
  height: 223px;
  overflow: auto;
}

